body {
    /* background-image: linear-gradient(to right top, #C0C0C0, #C2C2C2, #C4C4C4, #C8C8C8, #DCDCDC);
     */
    background-color: gainsboro;
    min-height: 100vh;
}

nav {
    color: white;
    background-color: #14202E;
}